Flask
Flask-Cors
Flask-RESTful
Flask-SQLAlchemy
flask-swagger-ui
gunicorn
marshmallow
mysql-connector-python
pre-commit
python-dateutil
pytz
requests
SQLAlchemy
typing_extensions
urllib3
Werkzeug==2.2.2
boto3==1.26.59
botocore==1.29.59